.profile1,.profile2,.profile3{
    display: inline-block;
    margin-left: 10px;
    width:135px;
    margin-top: 10px;
    box-shadow:0px 0px 3px 3px rgba(0,0,0,0.15)
}
.img{
    width:134px;
    height:150px;
    object-fit: cover;    
}
.name{
    font-family: Arial;
    font-size: medium;
    font-weight: bolder;
    margin-left: 5px;
    margin-top:8px;
    margin-bottom:0px;
}
.friendlist{
    margin-top:1px;
    margin-left: 5px;
    margin-bottom:0px;
    font-family: Arial;
    font-size: 12px;
    color: gray;

}
button{
    margin-top: 8px;
    margin-left:5px;
    margin-bottom:8px;
    padding-left:10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom:5px;
    font-family: Arial;
    font-size: 13px;
    color:white;
    background-color: rgb(24, 119, 242);
    border:none;
    border-radius: 5px;
    cursor: pointer;
}