div{
    margin-top:10px;
    text-align: center;
    font-family:Arial;
}
.search-bar{
    font-family:Arial;
    height:35px;
    width:450px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius:25px;
    border:none;
    box-shadow:0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}
.search-bar:focus{
    outline:none;
}
.logo{
    width:200px;   
}
button{
    margin-top: 20px;
    margin-right:10px;
    padding-left: 15px;
    padding-right:15px;
    padding-top:7px;
    padding-bottom:7px;
    border:none;
    font-family: Arial;
    font-size: small;
    cursor: pointer  
}